fastapi
uvicorn
scikit-learn
joblib
numpy
requests
minio
psycopg2-binary
python-multipart
prometheus-client
pytesseract
sentence-transformers
pdf2image
kaggle
jiwer
python-Levenshtein
opencv-python-headless
